body {
  width: 100%;
  font-size: .95em;
  font-family: geneva, helvetica, sans-serif;
  background: #fff; }

.container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto; }

header {
  background: #111;
  padding: 20px;
  width: 110%;
  color: #fff; }

#photo {
  width: 33%;
  margin: 30px;
  margin-top: 50px; }
  #photo img, #photo #img2 {
    width: 400px;
    max-width: 40%;
    min-width: 250px;
    border: 1px solid #ddd;
    margin-top: 100px;
    position: absolute;
    left: 30px; }
  #photo #img2 {
    position: absolute;
    left: 30px;
    transition: 1.3s opacity ease; }
    #photo #img2:hover {
      opacity: 0; }

#photopane {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px; }
  #photopane .pane-picture {
    width: 50%;
    float: right;
    padding: 0;
    padding: 5px; }
    #photopane .pane-picture img {
      max-width: 100%;
      max-height: 300px;
      padding: 0; }

h2, h3 {
  font-variant: small-caps;
  font-weight: bold; }

#about-me {
  float: right;
  width: 50%;
  margin: 0 30px; }
  #about-me h2 {
    font-size: 2.4em;
    margin: 10px 0; }

#bio {
  float: right;
  width: 50%;
  margin: 30px; }
  #bio p {
    line-height: 1.9em;
    padding-left: 15px; }

nav {
  margin: 30px 0px;
  clear: both;
  position: relative;
  right: 0px;
  max-width: 100%; }
  nav ul {
    text-align: center;
    display: block; }
  nav li {
    display: inline-block;
    padding: 0px;
    margin: 20px 20px;
    font-size: 1.4em; }

footer {
  clear: both;
  display: block;
  background: #111;
  width: 110%;
  max-height: 500px;
  height: 100%;
  overflow: hidden;
  margin: 100px auto 0;
  color: #fff;
  clear: both; }
  footer a {
    color: #fff; }
  footer ul {
    display: inline-block;
    margin: 20px 35px;
    float: left;
    width: 24%; }
    footer ul li {
      margin: 10px; }

a {
  text-decoration: none;
  transition: color .3s ease;
  color: #000; }
  a:hover {
    transition: .6s color ease;
    color: #ff8800; }

.footer-title {
  font-size: 1.4em; }

#follow li {
  display: inline-block; }

#bullets {
  margin-top: 30px;
  position: relative;
  top: 450px;
  left: 30px;
  line-height: 1.5em; }
  #bullets strong {
    text-decoration: underline; }
  #bullets h3 {
    font-size: 1.3em;
    margin-bottom: 20px; }
  #bullets li {
    margin-left: 15px;
    margin-top: 10px; }

#call-mobile {
  display: none; }

.portfolio-item {
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 90%;
  border-bottom: 2px solid #000; }
  .portfolio-item a {
    height: 175px;
    max-width: 45%;
    overflow: hidden;
    display: inline-block;
    line-height: 175px; }

.thumbnail {
  height: 100%;
  width: 100%;
  max-width: 250px;
  float: left; }

.description {
  padding: 20px;
  width: 55%;
  float: right; }

@media only screen and (max-width: 767px) {
  nav {
    margin: 6px 0 40px; }
    nav ul {
      position: relative;
      right: -30px;
      top: -5px; }
    nav .container {
      width: 100%; }
    nav li {
      border-right: 1px solid;
      margin: 0px;
      position: relative;
      top: -5px;
      padding: 10px 0px;
      width: 32%; }
      nav li:last-child {
        border-right: none; }
    nav a {
      padding: 5px; }

  #photo {
    position: relative;
    margin: 5px;
    left: 20px;
    top: 175px;
    width: 33%; }
    #photo img, #photo #img2 {
      border-radius: 0;
      max-width: 100%;
      min-width: 0; }

  #bullets {
    top: 300px; }

  #about-me, nav {
    right: 0;
    left: 0;
    width: 100%; }

  h2 {
    text-align: center; }

  footer {
    overflow: hidden; }
    footer ul {
      display: block;
      float: left;
      width: 80%; }
      footer ul li {
        display: block; }

  #call, #email, #follow {
    margin: 0, 0, 0, 20px;
    padding: 0; } }
@media only screen and (max-width: 550px) {
  header {
    position: fixed;
    top: 0;
    background: #111;
    color: #fff;
    z-index: 2; }

  footer {
    background: #111;
    color: #fff; }
    footer a {
      color: #fff; }

  .container {
    padding-top: 155px; }

  #photo {
    display: block;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    }
  #photo img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  body {
    background: #fff; }

  #bio {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0 15px; }

  nav {
    margin-top: 0px;
    top: -19px;
    z-index: 0; }

  nav li {
    margin: 0px;
    width: 28%; }
    nav li a {
      display: block;
      width: 100%;
      height: 100%; }

  #bullets {
    top: 60px; }

  #call-desktop {
    display: none; }

  #call-mobile {
    display: block; } }

/*# sourceMappingURL=style.css.map */
